# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch



# Executables
*.exe
*.out
*.app
/.vs/StartShipConqueror/v16
/Debug
build/.DS_Store
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/PlayEngine.sln
build/StarShip
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/reply/cache-v2-cff3cbda6e818dcc828f.json
build/.cmake/api/v1/reply/cache-v2-fd8d68e60c7cf1fd98fb.json
build/.cmake/api/v1/reply/cmakeFiles-v1-956707cce8d44e18a55e.json
build/.cmake/api/v1/reply/cmakeFiles-v1-9461547f40cf9263a103.json
build/.cmake/api/v1/reply/codemodel-v2-3d1788b54e8591240586.json
build/.cmake/api/v1/reply/codemodel-v2-43b04c43964f51fa0fe5.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-game-Debug-b67dffe3df9019a6d767.json
build/.cmake/api/v1/reply/directory-game-MinSizeRel-b67dffe3df9019a6d767.json
build/.cmake/api/v1/reply/directory-game-Release-b67dffe3df9019a6d767.json
build/.cmake/api/v1/reply/directory-game-RelWithDebInfo-b67dffe3df9019a6d767.json
build/.cmake/api/v1/reply/index-2023-01-05T22-10-32-0949.json
build/.cmake/api/v1/reply/index-2023-01-07T18-17-48-0704.json
build/.cmake/api/v1/reply/target-StarShip-Debug-571c97cc3d3d07ebdaf9.json
build/.cmake/api/v1/reply/target-StarShip-Debug-fa5c54cad08b93a647bb.json
build/.cmake/api/v1/reply/target-StarShip-MinSizeRel-37f87b9523a55bd9a804.json
build/.cmake/api/v1/reply/target-StarShip-MinSizeRel-ee2fac090215c0217135.json
build/.cmake/api/v1/reply/target-StarShip-Release-2f6343dec1f5319cced0.json
build/.cmake/api/v1/reply/target-StarShip-Release-4cf80212a9a94cac42f0.json
build/.cmake/api/v1/reply/target-StarShip-RelWithDebInfo-13d509fb306153f94761.json
build/.cmake/api/v1/reply/target-StarShip-RelWithDebInfo-562ce1ca9634ad777715.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-3e96fe220e9b7eca6366.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-680457728e6956e08750.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-3e96fe220e9b7eca6366.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-680457728e6956e08750.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-3e96fe220e9b7eca6366.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-680457728e6956e08750.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-3e96fe220e9b7eca6366.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-680457728e6956e08750.json
build/.cmake/api/v1/reply/toolchains-v1-63f90e33fc45b2e9618b.json
build/.cmake/api/v1/reply/toolchains-v1-f64f72e6bcfdd7b9218f.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.4/CMakeCCompiler.cmake
build/CMakeFiles/3.20.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.4/CMakeSystem.cmake
build/CMakeFiles/3.20.4/VCTargetsPath.txt
build/CMakeFiles/3.20.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.23.3/CMakeCCompiler.cmake
build/CMakeFiles/3.23.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.3/CMakeSystem.cmake
build/CMakeFiles/3.23.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/VCTargetsPath.txt
build/CMakeFiles/3.24.202208181-MSVC_2/VCTargetsPath.vcxproj
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.24.202208181-MSVC_2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.24.202208181-MSVC_2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/VCTargetsPath.txt
build/CMakeFiles/3.25.1/VCTargetsPath.vcxproj
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.25.1/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.25.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/48e0199a729bb49b97943f5ddbb2fe01/generate.stamp.rule
build/CMakeFiles/dc039b3a4766fff3b86cd174b7397110/generate.stamp.rule
build/game/cmake_install.cmake
build/game/Makefile
build/game/StarShip.vcxproj
build/game/StarShip.vcxproj.filters
build/game/CMakeFiles/CMakeDirectoryInformation.cmake
build/game/CMakeFiles/generate.stamp.depend
build/game/CMakeFiles/progress.marks
build/game/CMakeFiles/StarShip.dir/build.make
build/game/CMakeFiles/StarShip.dir/cmake_clean.cmake
build/game/CMakeFiles/StarShip.dir/compiler_depend.internal
build/game/CMakeFiles/StarShip.dir/compiler_depend.make
build/game/CMakeFiles/StarShip.dir/compiler_depend.ts
build/game/CMakeFiles/StarShip.dir/depend.make
build/game/CMakeFiles/StarShip.dir/DependInfo.cmake
build/game/CMakeFiles/StarShip.dir/flags.make
build/game/CMakeFiles/StarShip.dir/link.txt
build/game/CMakeFiles/StarShip.dir/progress.make
build/game/StarShip.dir/Debug/StarShip.exe.recipe
build/game/StarShip.dir/Debug/StarShip.ilk
build/game/StarShip.dir/Debug/vc143.pdb
build/game/StarShip.dir/Debug/StarShip.tlog/CL.command.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/CL.read.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/CL.write.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/CustomBuild.command.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/CustomBuild.read.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/CustomBuild.write.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/link.command.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/link.read.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/link.write.1.tlog
build/game/StarShip.dir/Debug/StarShip.tlog/StarShip.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
